* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background-color: bisque;
    padding: 20px;
}

.card1 {
    margin: 20px;
    background-color: rgb(255, 66, 81);
}

.ms_btn {
    padding: 5px;
    background-color: rgb(38, 92, 192);
    border-radius: 10px;
    color: white;
    
}